/*全局设置*/
*{margin: 0px;padding: 0px;}
body{font-family: "Microsoft YaHei UI";font-size: 14px;line-height: 1.6;color: #636b6f;}
ul,li,a{text-decoration: none;list-style: none;background-color: transparent;}
/*右侧工具栏*/
.tool_bar {
    width: 46px;
    height: auto;
    line-height: 46px;
    text-align: center;
    position: fixed;
    right: 50%;
    bottom: 20px;
    margin-right: -718px;
    background: #fff;
    z-index: 8;
}
.tool_bar ul {
    border: 1px solid #d7d7d7;
    border-bottom: none;
}
.tool_bar li {
    height: 46px;
    border-bottom: 1px solid #d7d7d7;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}
.tool_bar li.backBot i.icon {
    background-size: auto!important;
}
.tool_bar li.backBot i.icon{
    height: 46px;
    width: 46px;
    display: inline-block;
    vertical-align: -7px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.tool_bar li span.name {
    width: 100px;
    height: 47px;
    position: absolute;
    right: 44px;
    top: -1px;
    z-index: 1;
    border: 1px solid #d7d7d7;
    border-left: 3px solid #ff9a00;
    color: #ff9a00;
    background: #fff;
    opacity: 0;
    transition: all .3s;
}
.tool_bar li.backBot i.icon, .tool_bar li.backTop i.icon {
    height: 46px;
    width: 46px;
    display: inline-block;
    vertical-align: -7px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}
.tool_bar li.backTop i.icon {
    background-size: 100% auto;
    background-size: auto!important;
}